body{
    font-family: 'Poppins', sans-serif;
}
.orange{
 color:rgb(245, 17, 17) ;
}
.flexible-container{
    display: flex;
    margin: 50px;

}
.half-width{
    width: 50%;
    padding-left: 5%;
    padding-top: 10%;
}
.half-width-img{
    width : 80%;
    padding-left: 20px;
    padding-top: 10%;
    
}
.hire-me{
    background-color: rgb(245, 208, 47);
    padding: 10px 40px 10px;
     border: 5px;
}
.top-banner{
    background-image: url(images/top-banner.png);
    background-repeat:no-repeat ;
    border: 0ch;
}
.experience{
    width: 50%;
    padding-left: 5%;
    padding-top: 10%;
    box-shadow:10px 10px 40px gray ;
    border-left: 5px solid blue;

}
.experience-area{
    background-image: url(images/exp-bg.png);
    background-repeat: no-repeat;
}
h2{
    color: blue;
}
h4{
    color: brown;
}